@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c_brand: #3A7561;
  --c_bg: #242423;
  --c_secondary_bg: #ececec;
  --c_text: #1d1d1d;
  --c_hover: #dbdbdb;
  --c_btn: #f0f0f0;
  --c_btn_hover: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c_bg: #1a1a1a;
    --c_secondary_bg: #181818;
    --c_text: #f0f0f0;
    --c_btn: #333333;
    --c_btn_hover: #444444;
  }
}

@layer base {

  html,
  body {
    @apply overscroll-none overflow-hidden h-screen bg-transparent;
    color: var(--c_text);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--c_text);
  }


  /* Scrollbars */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--c_scrollbar_track);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--c_scrollbar_thumb);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--c_scrollbar_hover);
  }
}

/* 4. Custom Utility Classes */
@layer utilities {
  .draggable {
    -webkit-app-region: drag;
  }

  .non-draggable {
    -webkit-app-region: no-drag;
  }

  #chevron-toggle {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    display: inline-block;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}